<nz-page-header nzBackIcon (nzBack)="goBack()">
  <nz-page-header-title>Details</nz-page-header-title>
  <nz-page-header-extra>
    <nz-space>
      <button
        *nzSpaceItem
        nz-button
        nzType="primary"
        (click)="prev()"
        [disabled]="!canGoBack"
      >
        Previous
      </button>

      <button
        *nzSpaceItem
        nz-button
        nzType="primary"
        (click)="next()"
        [disabled]="!canGoAhead"
      >
        Next
      </button>
    </nz-space>
  </nz-page-header-extra>
</nz-page-header>

@if (pokemon) {
  <div nz-row nzGutter="16">
    <div nz-col [nzSpan]="24" [nzMd]="8" class="poke-image">
      <img
        [src]="pokemon.sprites.front_default"
        [alt]="pokemon.name"
        class="responsive-img"
        (click)="playCry(pokemon)"
      />
    </div>

    <div nz-col [nzSpan]="24" [nzMd]="16" class="poke-details">
      <h1>{{ pokemon.name | titlecase }}</h1>
      <p>#{{ formatId(pokemon.id) }}</p>

      <div><strong>Height:</strong> {{ pokemon.height / 10 }} m</div>
      <div><strong>Weight:</strong> {{ pokemon.weight / 10 }} kg</div>

      <div class="poke-types">
        <strong>Type: </strong>
        @for (type of pokemon.types; track type.type.name) {
          <nz-tag> {{ type.type.name | titlecase }} </nz-tag>
        }
      </div>

      <div class="poke-abilities">
        <strong>Abilities:</strong>
        <nz-list nzSize="small">
          @for (ability of pokemon.abilities; track ability.ability.name) {
            <nz-list-item>
              {{ ability.ability.name | titlecase }}
            </nz-list-item>
          }
        </nz-list>
      </div>

      <div class="poke-stats">
        <strong>Stats:</strong>
        <nz-list nzSize="small">
          @for (stat of pokemon.stats; track stat.stat.name) {
            <nz-list-item>
              {{ stat.stat.name | titlecase }}: {{ stat.base_stat }}
            </nz-list-item>
          }
        </nz-list>
      </div>

      <div class="poke-moves">
        <strong>Moves:</strong>
        <nz-list nzSize="small">
          @for (move of pokemon.moves.slice(0, 10); track move.move.name) {
            <nz-list-item> {{ move.move.name | titlecase }} </nz-list-item>
          }
          @if (pokemon.moves.length > 10) {
            <nz-list-item> and more... </nz-list-item>
          }
        </nz-list>
      </div>
    </div>
  </div>
}

@if (loading) {
  <app-spinner></app-spinner>
}

@if (error) {
  <div class="error">
    <p>Error loading Pokémon data. Please try again later.</p>
  </div>
}
