<nz-page-header>
  <nz-page-header-title>Pokémon List</nz-page-header-title>
</nz-page-header>

@if (error) {
  <div class="error">
    <p>Error loading Pokémon data. Please try again later.</p>
  </div>
} @else {
  <nz-table
    #pokeTable
    [nzData]="data"
    [nzFrontPagination]="false"
    [nzLoading]="loading"
    (nzQueryParams)="onQueryParamsChange($event)"
    nzSize="middle"
    [nzTotal]="total"
  >
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (pokemon of pokeTable.data; track pokemon.name) {
        <tr (click)="onRowClick(pokemon)">
          <td>{{ extractId(pokemon.url) }}</td>
          <td>{{ pokemon.name | titlecase }}</td>
          <td>
            <button nz-button nzType="primary">
              <span nz-icon nzType="search"></span>
            </button>
          </td>
        </tr>
      }
    </tbody>
  </nz-table>
}
